.card-img-top{
  transition: all ease 0.3s;
}
.card-img-top:hover{
  scale: calc(1.1);
}
.image-box{
  overflow: hidden;
}
body{
  overflow-x: hidden;
  background-image: url("https://static.vecteezy.com/system/resources/previews/007/286/903/non_2x/orange-pattern-with-fast-food-icons-doodle-food-background-free-vector.jpg");
  background-size: contain;
}
.App{
  overflow-x: hidden;
}